## Dictionary

In [2]:
name = {"India":"Virat","pakisthan":"sarfaras","shrilanka":"dimuth"}

In [3]:
dir(name)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
type(name)

dict

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [6]:
name["India"]

'Virat'

In [7]:
list1=[1,2,3]
list1[0]

1

In [8]:
name[0]

KeyError: 0

In [9]:
name.keys()

dict_keys(['India', 'pakisthan', 'shrilanka'])

In [10]:
list(name.keys())

['India', 'pakisthan', 'shrilanka']

In [11]:
list(name.keys())[0]

'India'

In [12]:
name.values()

dict_values(['Virat', 'sarfaras', 'dimuth'])

In [13]:
name.items()

dict_items([('India', 'Virat'), ('pakisthan', 'sarfaras'), ('shrilanka', 'dimuth')])

#### Dictionary is basically a hashmap data structure. It is also called unordered map or hashtable

#### add new value pair

In [6]:
name['rashiya']='ABC'

In [7]:
name

{'India': 'Virat',
 'pakisthan': 'sarfaras',
 'shrilanka': 'dimuth',
 'rashiya': 'ABC'}

In [8]:
del name['rashiya']

In [9]:
name

{'India': 'Virat', 'pakisthan': 'sarfaras', 'shrilanka': 'dimuth'}

In [10]:
name['England']='root'

#### itrate through dictionary

In [11]:
for team in name:
    print(team)

India
pakisthan
shrilanka
England

In [12]:
for team in name.keys():
    print(team)

India
pakisthan
shrilanka
England

In [13]:
for team in name.values():
    print(team)

Virat
sarfaras
dimuth
root

In [15]:
for team,m in name.items():
    print(team ,'==>', m)

India ==> Virat
pakisthan ==> sarfaras
shrilanka ==> dimuth
England ==> root

#### in oprator and clear

In [17]:
"India" in name

True

In [18]:
"rashiya" in name

False

In [19]:
name.clear()

In [20]:
name

{}

#### create new dict

In [21]:
e={}
e['wai']='satara'
e['pachgani']='mahableshwar'
e['pune']='mumbai'

In [22]:
print(e)

{'wai': 'satara', 'pachgani': 'mahableshwar', 'pune': 'mumbai'}

## Tuple

In [23]:
point=(3,5,7)
point

(3, 5, 7)

In [24]:
type(point)

tuple

In [25]:
point[0]

3

In [26]:
point[2]

7

#### tuple immutable

In [27]:
point[0]=3

TypeError: 'tuple' object does not support item assignment

#### tuple to return multiple value from a function

In [28]:
def add_multiply(a,b):
    total=a+b
    multi=a*b
    return total,multi

In [29]:
add_multiply(3,6)

(9, 18)

In [30]:
s,d=add_multiply(3,6)

In [31]:
s

9

In [32]:
d

18

## sets

In [34]:
a={3,3,5,6,7,8,8,5,0,6,6,5,4,4,4}

In [35]:
print(a)

{0, 3, 4, 5, 6, 7, 8}

In [39]:
a[2]

TypeError: 'set' object is not subscriptable

In [40]:
a[4]=3

TypeError: 'set' object does not support item assignment

In [42]:
a.add(11)
a

{0, 3, 4, 5, 6, 7, 8, 11}

In [37]:
type(a)

set

In [44]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
population = {
    'china': 143,
    'india': 136,
    'usa': 32,
    'pakistan': 21
}

def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()

def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]
    print_all()

def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

def print_all():
    for country, p in population.items():
        print(f"{country}==>{p}")

def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

In [ ]:
import statistics

stocks = {
    'info': [600,630,620],
    'ril': [1430,1490,1567],
    'mtl': [234,180,160]
}

def print_all():
    for stock,price_list in stocks.items():
        avg = statistics.mean(price_list)
        print(f"{stock} ==> {price_list} ==> avg: ",round(avg,2))


def add():
    s = input("Enter a stock ticker to add:")
    p = input("Enter price of this stock:")
    p=float(p)
    if s in stocks:
        stocks[s].append(p)
    else:
        stocks[s] = [p]
    print_all()


def main():
    op=input("Enter operation (print, add or amend):")
    if op.lower() == 'print':
        print_all()
    elif op.lower() == 'add':
        add()
    else:
        print("Unsupported operation:",op)

if __name__ == '__main__':
    main()

In [ ]:
import math

def circle_calc(radius):
    area=math.pi*(radius**2)
    circumference=2*math.pi*radius
    diameter=2*radius
    return area, circumference,diameter

if __name__=="__main__":
    r=input("Enter a radius:")
    r=float(r)
    area, c, d = circle_calc(r)
    print(f"area {area}, circumference {c}, diameter {d}")