## Variable in python

### string variables

In [1]:
profit=2600
sale=22

In [2]:
print(sale)

22

In [3]:
height=6.3
name="rahul"
sen='''what is
your name
for your collage'''

In [4]:
print(sen)

what is
your name
for your collage

In [5]:
type(height)

float

In [6]:
type(name)

str

In [7]:
h=True

In [8]:
type(h)

bool

In [9]:
3star=5

SyntaxError: invalid syntax (<ipython-input-9-95e8be11715b>, line 1)

In [10]:
star3=4

In [11]:
all+ram=4

SyntaxError: cannot assign to operator (<ipython-input-11-90bb69256fb6>, line 1)

## Exercies

### 1.Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

In [13]:
break=5

SyntaxError: invalid syntax (<ipython-input-13-7abc8ab243ff>, line 1)

#### In abave variable is Buil-in fuction in python so here it not be work as variable it throw error for 'invalid syntax'

### 2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [15]:
birth_year=1999
current_year=2022
age=current_year-birth_year
print(age)

23

### 3.3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [16]:
first="Ganesh"
middle="Mahadev"
last="Dhanawade"
print("my name is:",first ,middle ,last)

my name is: Ganesh Mahadev Dhanawade

### 4.4. Answer which of these are invalid variable names: "__nation, 1record, record1, record_one, record-one, record^one, continue"

In [17]:
_gan=3 #valid

In [19]:
1record=5#invalid

SyntaxError: invalid syntax (<ipython-input-19-6f35ecc8a38b>, line 1)

In [21]:
record1=4 #valid

record_one=44 #valid

In [22]:
record-one=22 #invalid Becouse not use the operator

SyntaxError: cannot assign to operator (<ipython-input-22-87ab32442d67>, line 1)

In [23]:
import math

In [24]:
a=16
sq_rt=math.sqrt(a)
sq_rt

4.0

### using if condition to calculate the value of the sqrt of various data

In [38]:
ab=[3,16,49,45,36,4]

for i in ab:
    n=i**(0.5)
    if(n//1)==n:
        print(n)
    else:
        print("That number have not calculate sqrt")

That number have not calculate sqrt
4.0
7.0
That number have not calculate sqrt
6.0
2.0

In [28]:
ab[3]

45

In [4]:
x=3+2j

In [5]:
type(x)

complex