### String introduction

In [1]:
food="samosa"

In [2]:
food1=''' samosa '''

### Index operator

In [3]:
food[2]

'm'

In [4]:
food[-3]

'o'

### string slicing

In [5]:
food[-3:-1]

'os'

In [6]:
food[1:4]

'amo'

In [7]:
food[-1:-3]

''

### len function

In [8]:
len(food)

6

### in operator

In [1]:
foodname='samosa,jalebi'

In [21]:
'a' in foodname

True

In [22]:
'jalebi' in foodname

True

In [23]:
'vadapav' in foodname

False

In [24]:
'vadapav' not in foodname

True

In [25]:
foodname[0]

's'

In [26]:
foodname[0]='x'

TypeError: 'str' object does not support item assignment

### Replace function

In [27]:
foodname.replace('jalebi','biryani')

'samosa,biryani'

In [28]:
foodname.replace('s','b')

'bamoba,jalebi'

### upper and lower function

In [29]:
foodname.upper()

'SAMOSA,JALEBI'

In [30]:
foodname.lower()

'samosa,jalebi'

In [2]:
foodname.title()

'Samosa,Jalebi'

In [31]:
dir(foodname)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### isdigit and index function

In [32]:
a="123"
a.isdigit()

True

In [33]:
'al34'.isalnum()

True

In [34]:
foodname

'samosa,jalebi'

In [35]:
foodname.index('jalebi')

7

In [36]:
a=11
n="welcome"
print(a+n)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### str function

In [37]:
str(a)+n

'11welcome'

In [38]:
k='G'

In [39]:
k*15

'GGGGGGGGGGGGGGG'

### quate and double quate insite the bracket

In [40]:
text="let's learn python"

In [41]:
text1='let\'s learn python'

In [42]:
text1

"let's learn python"

### special character: newline and tab

In [56]:
text2='hey\nbro'

In [57]:
print(text2)

hey
bro

In [58]:
text3='my name is\tganesh'
print(text3)

my name is	ganesh

In [59]:
first='india'
last='england'
print('Test match between',first +  ' and nation '  + last)

Test match between india and nation england

In [60]:
print(f'Test between {first} and {last}') #f-string

Test between india and england

In [1]:
a=[3,5,8]

In [3]:
a.count(5)

1