## Python Exercise:

#### 1. Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies.

In [45]:
hobby=[]
for i in range(3):
    a=input("Enter your hobby:")
    hobby.append(a)
    
print(hobby)

Enter your hobby:waching movie+++
Enter your hobby:crecket
Enter your hobby:game
['waching movie+++', 'crecket', 'game']

#### 2. Write a function called digit_sum that takes a positive integer n as input and returns the sum of all that number's digits.

In [47]:
def digit_sum(n):
    sum=0
    for i in range(1,n+1):
        sum+=i
    print("The sum of possitive number is:",sum)

In [48]:
digit_sum(5)

The sum of possitive number is: 15

#### 3. Define a function is_even that will take a number x as input.If x is even, then return True. Otherwise, return False. Note: even means that is divisible by two.Check if it works.

In [54]:
def is_even(x):
    if x%2==0:
        return True
    else:
        return False

In [55]:
is_even(15)

False

#### 4. Print multiplication table of given number , num=2

In [1]:
def Mult_table(x):
    add=[]
    for i in range(1,11):
        add.append(x*i)
    print(add)

In [7]:
Mult_table(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

 5. Print pattern  

 1
2 2
3 3 3
4 4 4 4

In [134]:
s=0
for i in range(1,5):
    for j in range(0,i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

#### 6.   Write a Python program to count the number of even and odd numbers from a series of numbers.

In [59]:
def no_even(x):
    odd=0
    even=0
    for i in range(1,x+1):
        if i%2==0:
            even+=1
        else:
            odd+=1
    print("No of odd values is:",odd)
    print("No of even value is:",even)

In [60]:
no_even(22)

No of odd values is: 11
No of even value is: 11

#### 7. Write a Python program to check whether an alphabet is a vowel or consonant.

In [61]:
def alphabet(a):
    ovel=["A","E","I","O","U"]
    z=a.upper()
    if z in ovel:
        print("Your enter alphabet is: ovel")
    else:
        print("Your enter alphabet is: consonant")

In [62]:
alphabet("b")

Your enter alphabet is: consonant

#### 8. Display -10 to -1 using for loop

In [81]:
print(*range(-10,0,1))

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

#### 9.  Write a loop to find the factorial of any number,

In [63]:
def facto(x):
    if x==0:
        print("factorial is: 1")
    elif x<0:
        print("Enter possitive number")
    else:
        for i in range(1,x):
            x=x*i
        print("Factorial is:", x)

In [64]:
facto(4)

Factorial is: 24

#### 10.  Display Fibonacci series up to 10 terms

In [65]:
def fibonecci(n):
    p=[]
    for i in range(n+1):
        if i<0:
            print("Incorrect input")
        elif i==0:
            p.append(0)
        elif i==1 or i==2:
            p.append(1)
        else:
            p.append(p[i-1]+p[i-2])
    print(p)

In [66]:
fibonecci(30)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040]

#### without using sort or reverse function , you reverse the following list

In [133]:
x=[3,6,12,5,23,76,33,12,2,6]
x[::-1]

[6, 2, 12, 33, 76, 23, 5, 12, 6, 3]

#### 12.  Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [15]:
def series(n):
    x=2
    sum=0
    for j in range(1,n):
        print(x,end=" ")
        sum+=x
        x=(x*10)+2
    print(x)

In [16]:
series(7)

2 22 222 2222 22222 222222 2222222

In [13]:
def seri(n):
    s=' '
    for i in range(n):
        s += '2'
        print(s,end=" ")

In [17]:
seri(7)

 2  22  222  2222  22222  222222  2222222

#### 13. Display the cube of the number up to a given integer,  input_number = 6
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [13]:
def cube_num(x):
    for i in range(1,x+1):
        a=i*i*i
        print(f"Current Number is : {i} and the cube is : {a}")

In [14]:
cube_num(6)

Current Number is : 1 and the cube is : 1
Current Number is : 2 and the cube is : 8
Current Number is : 3 and the cube is : 27
Current Number is : 4 and the cube is : 64
Current Number is : 5 and the cube is : 125
Current Number is : 6 and the cube is : 216

#### 14.  Reverse a given integer number,  given 76542, expected output - 24567

In [69]:
def rever(x):
    a=str(x)
    print("your reverse number is:",a[::-1])

In [70]:
rever(76542)

your reverse number is: 24567

In [68]:
a=123
print(a[::-1])

TypeError: 'int' object is not subscriptable

#### 15. Use a loop to display elements from a given list which are present at even positions,  my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],

In [32]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
even_list=[]
for i in my_list:
    s=i/10
    if s%2==0:
        even_list.append(i)
        
print(even_list)

[20, 40, 60, 80, 100]

In [72]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_list[1::2]

[20, 40, 60, 80, 100]

#### 16.  Given a following two sets find the intersection and remove those elements from the first set
First Set  {65, 42, 78, 83, 23, 57, 29}
Second Set  {67, 73, 43, 48, 83, 57, 29}

Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}

In [38]:
First_Set={65, 42, 78, 83, 23, 57, 29}
Second_Set={67, 73, 43, 48, 83, 57, 29}
intersection=set()
common=set()
for i in First_Set:
    if i in Second_Set:
        common.add(i)
    else:
        intersection.add(i)
        
print(common)
print(intersection)

{57, 83, 29}
{65, 42, 78, 23}

#### 17. Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

In [42]:
def calculation(x,y):
    return (x+y , x-y)

In [43]:
calculation(3,6)

(9, -3)

18.  Assign a different name to function and call it through the new name
def displayStudent(name, age):
    print(name, age)

displayStudent("Emma", 26)
You should be able to call the same function using
showStudent(name, age)

In [118]:
def display_student(name,age):
    print(name,age)

    
display_student("ganesh",23)

show_student=display_student
show_student("gane",2)

ganesh 23
gane 2

#### 19. Generate a Python list of all the even numbers between 4 to 30

In [44]:
even_list=[]
for i in range(4,31):
    if i%2==0:
        even_list.append(i)
        
print(even_list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

20. Sort a tuple of tuples by 2nd item,  tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29)).
Expected output:
(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [119]:
tupl = (('a', 23),('b', 37),('c', 11), ('d',29))
tupl=tuple(sorted(list(tupl),key=lambda x:x[1]))
print(tupl)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))