### List

In [7]:
fruits=['orange','apple','pear','banana','kiwi','apple','banana','banana']

In [8]:
fruits.count('apple')

2

In [9]:
fruits.count('banana')

3

In [10]:
fruits.index('banana')

3

In [11]:
fruits.count('mango')

0

In [14]:
fruits.reverse()
fruits

['banana', 'banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [15]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [17]:
fruits.append('papai')
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'banana',
 'kiwi',
 'orange',
 'pear',
 'papai',
 'papai']

In [19]:
fruits.pop()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'banana',
 'kiwi',
 'orange',
 'pear',
 'papai']

### stack

In [20]:
# add new element in last and delete first element its nature is same as que
stak=[3,4,5]
stak.append(3)
stak.append(2)
stak.pop()
stak.pop()

3

In [21]:
stak

[3, 4, 5]

In [24]:
#queues
queue=['eric','joh','michel']
queue.append('marry')
queue.append('graham')
queue.pop(0)
queue.pop(0)

'joh'

In [25]:
queue

['michel', 'marry', 'graham']

In [26]:
squres=[]
for x in range(10):
    squres.append(x**2)

In [27]:
squres

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
squre=list(map(lambda x : x**2 ,range(10)))

In [30]:
squre

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
s=[x**2 for x in range(10)]

In [32]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
n=[(x,y) for x in [2,3,4] for y in [7,8] if x!=y]

In [35]:
n

[(2, 7), (2, 8), (3, 7), (3, 8), (4, 7), (4, 8)]

In [36]:
matrix=[[2,3],[4,5]]
s=[[row[i] for row in matrix ] for i in range(2)]

In [37]:
s

[[2, 4], [3, 5]]

In [38]:
a=[2,3,6]
del a[1]

In [39]:
a

[2, 6]

In [40]:
del a[:]

In [41]:
a

[]

### tupple

In [43]:
x=(34,44,"gan")

In [44]:
x

(34, 44, 'gan')

In [45]:
c=['gan',44]

In [46]:
c

['gan', 44]

In [56]:
m=set('asdfg')

In [57]:
m

{'a', 'd', 'f', 'g', 's'}

In [52]:
type(m)

tuple

In [58]:
b={33,"sdf"}

In [59]:
b

{33, 'sdf'}

In [60]:
type(b)

set

In [61]:
name=['gan','rahul']
ans=['a','b']
for q ,a in zip(name,ans):
    print(f'what is your {0}? It is {1}.'.format(q,a))

what is your 0? It is 1.
what is your 0? It is 1.

In [63]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [65]:
a=['mango','orange','mango','orange']
for i in sorted(a):
    print(i)

mango
mango
orange
orange

In [66]:
for i in sorted(set(a)):
    print(i)

mango
orange