### Basic Python

In [1]:
print("Hellow wold")

Hellow wold

In [2]:
print('''Hi,
New
Programmer
in
Python!''')

Hi,
New
Programmer
in
Python!

In [3]:
a=2;
print("Index number of a is: {} ",format(id(a)))

Index number of a is: {}  140720953042752

In [4]:
a=3;
print("Index number of a is: {} ",format(id(a)))

Index number of a is: {}  140720953042784

In [5]:
a=4
print(f"my marks is {a}")

my marks is 4

In [6]:
a=int(input("Enter the value : "))
print(f'my value is : {a}')

Enter the value : 6
my value is : 6

### data typs

In [11]:
#number
a=1;
print(a)
type(a)

1

int

In [12]:
b=2.52
print(b)
type(b)

2.52

float

In [13]:
c=2+5j;
print(c)
type(c)

(2+5j)

complex

#### string

In [15]:
#string
s1='Ganesh'
s2="Dhanawade"

In [16]:
#cont
print(s1+s2)  #concatenate

GaneshDhanawade

In [17]:
#rep
print(s1*3)

GaneshGaneshGanesh

In [18]:
#slic
print(s1[0:4])

Gane

In [19]:
#index
print(s1[-1:]+s1[1])

ha

In [20]:
#find
print(s1.find('d'))

-1

In [21]:
#replace
print(s1.replace('d','z'))

Ganesh

In [22]:
#split
print(s1.split('.'))

['Ganesh']

In [23]:
#count
print(s1.count('a',0,4))

1

In [33]:
#below word show that each carector how meny times replicated
b=[]
a='ganesha'
for i in a:
    print(a.count(i,0,7))

1
2
1
1
1
1
2

In [24]:
#upper
print(s1.upper())

GANESH

In [29]:
#isalpha
print(s1.isalpha())

True

#### Delete extra space in string

In [34]:
a1 = " Ganesh";
a2 = 'ganesh ';
a3=" ganesh "
print(a1)
print(a2)
print(a3)

 Ganesh
ganesh
 ganesh

In [36]:
#speace left, right or both side...
print(a1.lstrip())  #elimiate left space
print(a2.rstrip())  #eleminate right space
print(a3.strip())   #eliminate both side space

Ganesh
ganesh
ganesh

In [37]:
name="ganesh dhanawade"

In [43]:
print(name.isalnum())  #string contrain all values are numeric
print(name.isalpha())  #string contains all values are alphabets
print(name.isupper())  #all values are upper case
print(name.islower())  #all values are lower case
print(name.istitle())  #string is title nature
print(name.isdigit())  #sring having digits
print(name.isspace())  #strings contrain space
print(name.startswith('g'))  #string strat with 'g'
print(name.endswith('d'))    #string ends with 'd'

False
False
False
True
False
False
False
True
False

###  Tupple

In [44]:

#tuple

tup = (1,1.25, 3j, 'a', "ABC")
print(tup)
tup1 = (1,1.25, 3j, 'a', "ABC",(1,2,3,4,"asdf"))
print(tup1)

(1, 1.25, 3j, 'a', 'ABC')
(1, 1.25, 3j, 'a', 'ABC', (1, 2, 3, 4, 'asdf'))

In [45]:
print(tup1+(11,11))

(1, 1.25, 3j, 'a', 'ABC', (1, 2, 3, 4, 'asdf'), 11, 11)

In [46]:
print(tup*2)

(1, 1.25, 3j, 'a', 'ABC', 1, 1.25, 3j, 'a', 'ABC')

In [47]:
print(tup[1:2])

(1.25,)

In [49]:
print(tup[0])

1

### List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets []

In [54]:
#DataTypes in Python
#list
li =[1,1.25, "asdf",'as', 5j]
Dict = {1:"abc", 2:"DNA", 3:'4+5j'}
sett={1,2,3,4,5}

In [55]:
listt =[1, 1.25, "asdf", 'ss', 5j]
listt[0]="Asia"

In [56]:
print(listt)

['Asia', 1.25, 'asdf', 'ss', 5j]

In [57]:
print(listt+['Fahad'])

['Asia', 1.25, 'asdf', 'ss', 5j, 'Fahad']

In [58]:
print(listt*2)

['Asia', 1.25, 'asdf', 'ss', 5j, 'Asia', 1.25, 'asdf', 'ss', 5j]

In [59]:
print(listt[1:3])

[1.25, 'asdf']

In [60]:
print(listt[0])

Asia

In [61]:
print(listt.append('ssss'))

None

In [62]:
print(listt)

['Asia', 1.25, 'asdf', 'ss', 5j, 'ssss']

In [63]:
print(listt.extend(['s','d',"asd"]))
print(listt)

None
['Asia', 1.25, 'asdf', 'ss', 5j, 'ssss', 's', 'd', 'asd']

In [64]:
print(listt.insert(0,'Hussain'))
print(listt)

None
['Hussain', 'Asia', 1.25, 'asdf', 'ss', 5j, 'ssss', 's', 'd', 'asd']

In [65]:
print(listt.pop())
print(listt)

asd
['Hussain', 'Asia', 1.25, 'asdf', 'ss', 5j, 'ssss', 's', 'd']

### Dictionary

In [72]:

Dict={1:"Ganesh", 2:"Dhanawade", 'Faculty':"Yes" }

In [73]:
print(Dict[1])

Ganesh

In [75]:
print(len(Dict))

3

In [76]:
print(Dict.keys())

dict_keys([1, 2, 'Faculty'])

In [77]:
print(Dict.values())

dict_values(['Ganesh', 'Dhanawade', 'Yes'])

In [78]:
print(Dict.items())

dict_items([(1, 'Ganesh'), (2, 'Dhanawade'), ('Faculty', 'Yes')])

In [79]:
print(Dict.get(1))

Ganesh

In [83]:
print(Dict.update({2:'Ali'}))

None

In [84]:
print(Dict.pop(2))

Ali

In [100]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [101]:
my_dict['car4']='Audi 2.0'
my_dict
my_dict['Car1']='MAruti'
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [102]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

## Accessing the items in the dictionary

print(car_type['car1'])
{'Mercedes': 1960}
print(car_type['car1']['Mercedes'])
1960

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}
{'Mercedes': 1960}
1960

1960

### Set

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [86]:
#Set
s = {1,2,3,4,5,5,5}
print(s)
s1={1,2,3}
s2 = {1,2,'b'}
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 'b'}
{1, 2}
{3}

In [87]:
s.add(10)

In [88]:
print(s)

{1, 2, 3, 4, 5, 10}

## Oprators

### Arithematic Operation in Python

In [90]:

a=11;b=3;
print(a+b) #addition
print(a-b) #subtraction
print(a*b) #multiplication
print(a/b) #division
print(a%b) #modulo
print(a**b)  #power
print(a//b) #Foore division

14
8
33
3.6666666666666665
2
1331
3

### Comparision Operation in Python

In [91]:

a=11;b=11;
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

False
False
True
True
False
True

### Assignment Operators (=, +=, -=, *= .....)

In [92]:

a=2;
print(a)
a*=2; # a= a*2
print(a)

2
4

### Logical Operator in Python ( and, or, not)

In [93]:

a = True;
b = True;
print( a and b)
print( a or b)
print( not b)

True
True
False

In [94]:
a=2
b=5
c=50
if ( (a>=5 and b>=10) or (c<=49) ):
    print("True")
else:
    print("Not ture")

Not ture

### Membership Operator (in, not in)

In [95]:

Var=['a', 23, 25.12, "Fahad"]
print(100 not in Var)

True

### identity operator (is, is not)

In [96]:

x=5;
y=5;
z=4;
print( x is y)
print( x is not y)
print( x is z)

True
False
False

## User define function

In [97]:
def printfunction(a):
    a=a*2
    print(a)

printfunction(3)

6

In [98]:
def returnfunction(b):
    b=b*2
    return b;

printfunction(3)

p= printfunction(3)

r= returnfunction(3)

p

r

type(p)

type(r)

6
6

int